<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Odometer</title>


</head>

<body>

    <div class="card">

        <h1>Welcome to Odometer</h1>


        <form action="" method="post">

            <input type="hidden" name="action" value="current">

        </form>


        <div class="button-container">

            <form action="" method="post">

                <input type="hidden" name="action" value="increment">

                <button type="submit">Increment Reading</button>

            </form>


            <form action="" method="post">

                <input type="hidden" name="action" value="decrement">

                <button type="submit">Decrement Reading</button>

            </form>
            
            <form action="" method="post">

                <input type="hidden" name="action" value="reset">

                <button type="submit">Reset</button>

            </form>

        </div>


        <p th:if="${current != null}">Current reading: [[${current}]]</p>

        <p th:if="${increment != null && decrement == null}">Next reading: [[${increment}]]</p>

        <p th:if="${decrement != null && increment == null}">Previous reading: [[${decrement}]]</p>

    </div>

</body>

</html>